body {
	background:repeating-linear-gradient(#FFCC66 0, #FFCC66 60px, #FFFF99 60px, #FFFF99
		160px);
}

.user {
	text-align: center;
	margin-top: 30px;
	margin-right: 300px;
	margin-bottom: 30px;
	margin-left: 300px;
	background-color: white;
}

table {
  width: 800px;
}

table,th,td {
  border: 1px solid #bbb;
}
.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
	text-align: center;
	background: yellow;
	width: 350px;
}