body {
	background: repeating-linear-gradient(#FFCC66 0, #FFCC66 60px, #FFFF99 60px, #FFFF99
		160px);
}

head {
	text-align: left;
}

.form-area {
	text-align: center;
	margin-top: 50px;
	margin-right: 200px;
	margin-bottom: 50px;
	margin-left: 200px;
	background-color: white;
}

.txt {
	display: inline-block;
	text-align: left;
}

.copyright {
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
	text-align: center;
	background: yellow;
	width: 350px;
}