body {
	background: repeating-linear-gradient(#FFCC66 0, #FFCC66 60px, #FFFF99 60px, #FFFF99
		160px);
}


.main-contents {
	text-align: center;
	margin-top: 30px;
	margin-right: 300px;
	margin-bottom: 30px;
	margin-left: 300px;
	background-color: white;
}

}
.header {
	text-align: left;
	background: white;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 50px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	color: #FFF;
	-webkit-text-stroke: 1.5px #000;
	font-size: 32px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.search {
	font-size: 120%;
	margin-top: 00px;
	margin-right: 700px;
	margin-bottom: 00px;
	margin-left: 100px;
	background-color: white;
}

.txt {
	display: inline-block;
	margin-left: 100px;
	text-align: left;
}

.messages-comments {
	margin-top: 30px;
	margin-right: 100px;
	margin-bottom: 0px;
	margin-left: 100px;
	background-color: white;
}

.message-title {
	font-size: 170%;
	margin-left: 50px;
	text-align: left;
	font-weight: bolder;
}

.message-text {
	margin-left: 50px;
	margin-right: 50px;
	font-size: 120%;
	text-align: left;
}

pre {
	white-space: pre-wrap;
}

.message-category {
	font-size: 100%;
	margin-left: 50px;
	text-align: left;
}

.message-name {
	margin-right: 100px;
	text-align: right;
}

.message-date {
	margin-right: 100px;
	text-align: right;
}

.comment {
	text-align: left;
	background: white;
	border-left: 4px dotted rgba(0, 0, 0, .1);
	border-right: 4px dotted rgba(0, 0, 0, .1);
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	padding: 1em;
	color: #65513f;
	width: 650px;

	color: glay;
	margin-left: 500px;
}

.comment-text {
	color: glay;
	font-size: 120%;
	text-align: left;
}

.comment-name {
	color: glay;
	font-size: 80%;
	margin-right: 50px;
	text-align: right;
}

.comment-date {
	color: glay;
	font-size: 90%;
	margin-right: 50px;
	text-align: right;
}

.form-area {
	margin-right: 100px;
	text-align: right;
}

.copyright {
	text-align: center;
	margin-top: 30px;
	margin-right: 300px;
	margin-bottom: 30px;
	margin-left: 300px;
}

label {
	display: block;
}

.errorMessages {
margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
	text-align: center;
	background: yellow;
	width: 350px;
}